@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');


:root {
	--main-color: #3f51b5;
	--sub-color: #EAA023;
	--text-color: #fff;
	--span-color: red;
	--menu--color: #0C1023;
	--bd-color: #eeeeee57;
	--hotro-color:  black;
	--Toggle-color: #0d84e2;
}

{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}

body {
	font-family: sans-serif;
}
.container {
	margin: auto;
	max-width: 1600px;
}
#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	background-image: linear-gradient(to right, #5f1785, #3f51b5);
}
 .navbar-brand img {
 	width: 200px;
 	text-align: center;
 }

 .navbar-nav li {
 	padding: 0 10px;
 }

 .navbar-nav li a {
 	color: #fff !important;
 	font-weight: 600;
 	float: inherit;
 	font-size: 16px;
 }

.dropdown-menu {
	background-image: linear-gradient(to right, #3f51b5, #5f1785);
	border: 3px solid #3f51b5;
}

.dropdown-menu a:hover {
	background-image: linear-gradient(to right, #3f51b5, #5f1785);

}

 .navbar-toggler-icon {
 	color: #fff !important;
 }

 .fa-bars {
 	color: #fff;
 	font-size: 30px !important;
 }

 .navbar-toggler {
 	outline: none !important;
 }

 /*-----------------------Banner-----------------------------*/

 #banner {
 	background-image: linear-gradient(to right, #3f51b5, #5f1785);
 	color: #fff;
 	padding-top: 5%;
 }

.play-btn {
	width: 45px;
	margin: 20px;
}
.img-fluid {
	border-radius: 20px;
}

.promo-title {
	font-size: 35px;
	font-weight: 600;
	margin-top: -10px;
	text-align: center;
}
.bottom-img {
	width: 100%;
}

 #banner {
 	color: #fff;
 	text-decoration: none;
 }
#banner img {
	vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

#banner a {
	color: #fff;
	text-decoration: none;
	font-family: tahoma;
}
#banner  p {
	color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: tahoma;
}

#banner h4 {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
    margin-right: 10px;
	text-align: justify;
	font-size: 17px;
    font-weight: 400;
    font-family: tahoma;
}

#banner  h3 {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
	font-family: tahoma;
}
.section-title1 {
	width: 100vw;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-title1 h2::before {
	content: attr(data-title);
	display: block;
	color: var(--sub-color);
	font-size: 50px;
	margin-top: 20px;
	font-family: 'Birthstone Bounce', cursive;
} 
.bottom-img {
	width: 100%;
}

#services {
	padding: 80px 0;
	text-align: justify;
}

#services p {
	text-align: justify;
	margin-top: 30px;
	font-family: tahoma;
}

.service-img {
	width: 100px;
	margin-top: 20px;
}

.services {
	padding: 10px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 10px;
	margin: 20px 0;
	margin-right: 5px;
}


.title::before {
	content: "";
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(15px);
}

.title::after {
	content: "";
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

#cosodulieu {
	background: linear-gradient(to right, #5f1785, #3f51b5);
	padding-bottom: 50px;
	padding-top: 30px;
	color: #fff;
}

.btn-button a:hover {
	text-decoration: none;
	background: transparent;
	font-family: tahoma;
}
.about-title {
	font-size: 30px;
	font-weight: 600;
	margin-top: 8%;
	text-align: center;
}

#cosodulieu button {
	box-shadow: none;
	padding: 8px 25px;
	border-radius: 20px;
	margin-top: 10px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
	font-family: tahoma;
}

#cosodulieu a {
	color: #fff;
	font-family: tahoma;
	text-decoration: none;
}

#social {
	background: linear-gradient(to right, #3f51b5, #5f1785);
	padding-bottom: 50px;
	padding-top: 30px;
	color: #fff;
	text-align: justify;
	margin: 0 0;
}

.social-title {
	font-size: 30px;
	font-weight: 600;
	margin-top: 8%;
	text-align: center;
}


#social button {
	box-shadow: none;
	padding: 8px 25px;
	border-radius: 20px;
	margin-top: 10px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
	font-family: tahoma;
}

#social a {
	color: #fff;
	font-family: tahoma;
	text-decoration: none;
}

#thesinhvien {
	bbackground: #ffffff;
}

#thesinhvien h4 {
	font-size: 15px;
	margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    font-family: tahoma;
}


#testimonials {
	background-image: linear-gradient(to right, #3f51b5, #5f1785);
	margin: 100px 0;
}

.testimonials {
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials p {
	color: #fff;
	font-size: 17px;
	text-align: justify;
	font-family: tahoma;
}

#testimonials h2 {
	color: #fff;
	font-family: tahoma;
}
.testimonials img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 10px;
}

.user-details {
	display: inline-block;
	font-size: 12px;
}
  
#social-media {
	background-color: #fff;
	margin-top: -100px;
}

.social-icon img {
	width: 150px;

}

.social-icon a {
	text-decoration: none;
}

/*-------------------Footer----------------*/

#footer {
	background-image: linear-gradient(to right, #5f1785, #3f51b5);
	color: #fff;	
}

.footer-img {
	width: 100%;
}

.footer-box {
	padding: 20px;
}

.footer-box img {
	width: 220px;
	margin-bottom: 20px;
}

.footer-box h2 {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-family: tahoma;
}

.footer-box1 h2 {
	padding: 40px;
	text-align: center;
	font-size: 20px;
	font-family: tahoma;
}

.footer-box .fa {
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 20px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

.footer-box .form-control {
	box-shadow: none !important;
	border: none;
	border-radius: 25px;
	max-width: 250px;
	margin-top: 25px;
}

.footer-box .btn-primary {
	box-shadow: none !important;
	border: none;
	border-radius: 25px;
	margin-top: 30px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

iframe {
	border-radius: 5px #eee;
}
hr {
	background-color: #fff;
}

.copyright {
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}


#menu-hs {
	background-color: var(--text-color);
}

.section-title {
	width: 100vw;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 38px;
}

.section-title h2::before {
	content: attr(data-title);
	display: block;
	color: var(--sub-color);
	font-size: 50px;
	margin-top: 20px;
	font-family: 'Birthstone Bounce', cursive;
} 

#menu-hs .menus-button {
	background: linear-gradient(to right, #8135a9, #3f51b5);
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}
.menu-hs-title {
	width: 100%;
	text-align: center;
}

.menu-hs-title .menus-button {	
	margin: 10px 10px;
	border-radius: 20px;
}

.menu-hs-title .menus-button.active {
	color: red;
	border-radius: 20px;

}

.hoisach-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 47px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 1px 1px;
}

.hoisach-item {
    display: flex;
    align-items: center;   
}


.hoisach-item img {
    width: 100%;
    border-radius: 10px;
}

.menu-item-content {
  display: none;
}

.menu-item-content.active {
  display: flex;
  flex-wrap: wrap;
}
#Ebook {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin: 100px 0;
}

