:root {
	--main-color: #3f51b5;
	--sub-color: #EAA023;
	--text-color: #fff;
	--span-color: red;
	--menu--color: #0C1023;
	--bd-color: #eeeeee57;
	--hotro-color:  black;
	--Toggle-color: #0d84e2;
}

{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}

body {
	font-family: sans-serif;
}
.container {
	margin: auto;
	max-width: 1600px;
}
#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	background-image: linear-gradient(to right, #a517ba, #5f1785);
}
 .navbar-brand img {
 	width: 50px;
 }

 .navbar-nav li {
 	padding: 0 10px;
 }

 .navbar-nav li a {
 	color: #fff !important;
 	font-weight: 600;
 	float: inherit;
 }

 .fa-bars {
 	color: #fff;
 	font-size: 30px !important;
 }

 .navbar-toggler {
 	outline: none !important;
 }

 /*-----------------------Banner-----------------------------*/

 #banner {
 	background-image: linear-gradient(to right, #3f51b5, #5f1785);
 	color: #fff;
 	padding-top: 5%;
 }

.play-btn {
	width: 45px;
	margin: 20px;
}
.img-fluid {
	border-radius: 20px;
}

.promo-title {
	font-size: 30px;
	font-weight: 600;
	margin-top: -10px;
}
.bottom-img {
	width: 100%;
}

 #banner {
 	color: #fff;
 	text-decoration: none;
 }
#banner img {
	vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

#banner a {
	color: #fff;
	text-decoration: none;
}
#banner  p {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}

#banner h4 {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
	font-size: 15px;
    font-weight: 400;}

#banner  h3 {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
}
.section-title1 {
	width: 100vw;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-title1 h2::before {
	content: attr(data-title);
	display: block;
	color: var(--sub-color);
	font-size: 32px;
	margin-top: 20px;
} 
.bottom-img {
	width: 100%;
}

#services {
	padding: 80px 0;
}

.service-img {
	width: 100px;
	margin-top: 20px;
}

.services {
	padding: 10px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 10px;
	margin: 20px 5px;
	margin-right: 5px;
}


.title::before {
	content: "";
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(15px);
}

.title::after {
	content: "";
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

#cosodulieu {
	background: linear-gradient(to right, #5f1785, #3f51b5);
	padding-bottom: 50px;
	padding-top: 30px;
	color: #fff;
}

.about-title {
	font-size: 30px;
	font-weight: 600;
	margin-top: 8%;
	text-align: center;
}

#cosodulieu button {
	box-shadow: none;
	padding: 8px 25px;
	border-radius: 20px;
	margin-top: 10px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

#cosodulieu a {
	color: #fff;
}

#social {
	background: linear-gradient(to right, #3f51b5, #5f1785);
	padding-bottom: 50px;
	padding-top: 30px;
	color: #fff;
}

.social-title {
	font-size: 30px;
	font-weight: 600;
	margin-top: 8%;
	text-align: center;
}

#social button {
	box-shadow: none;
	padding: 8px 25px;
	border-radius: 20px;
	margin-top: 10px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

#social a {
	color: #fff;
}


#services1 {
	background: #f8f9fa;
}

/*-------------------Footer----------------*/

#footer {
	background-image: linear-gradient(to right, #5f1785, #3f51b5);
	color: #fff;	
}

.footer-img {
	width: 100%;
}

.footer-box {
	padding: 20px;
}

.footer-box img {
	width: 120px;
	margin-bottom: 20px;	
}

.footer-box .fa {
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 20px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

.footer-box .fab {
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 20px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

.footer-box .form-control {
	box-shadow: none !important;
	border: none;
	border-radius: 25px;
	max-width: 250px;
	margin-top: 25px;
}

.footer-box .btn-primary {
	box-shadow: none !important;
	border: none;
	border-radius: 25px;
	margin-top: 30px;
	background: linear-gradient(to right, #5f1785, #3f51b5);
}

hr {
	background-color: #fff;
}

.copyright {
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}



#menu-hs {
	background-color: var(--text-color);
}

.section-title {
	width: 100vw;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 38px;
}

.section-title h2::before {
	content: attr(data-title);
	display: block;
	color: var(--sub-color);
	font-size: 32px;
	margin-top: 20px;
} 

#menu-hs .menus-button {
	background: linear-gradient(to right, #8135a9, #3f51b5);
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}
.menu-hs-title {
	width: 100%;
	text-align: center;
}

.menu-hs-title .menus-button {
	background-color: transparent;
	margin: 10px 10px;
	border: none;
}

.hoisach-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 47px;
	position: relative;
	width: 50%;
}

.hoisach-item::before {
	content: "";
    display: block;
    position: absolute;
    left: 45px;
    right: 45px;
    bottom: 0;
    border: 1px dashed #eee;
    width: 56%;
}

.hoisach-items:hover .hoisach-item p {
	color: var(--sub-color);
}

.hoisach-item {
	display: flex;
	align-items: center;
}

.hoisach-item img {
	width: 100%;
	margin-right: 25px;

}
.menu-item-content {
	display: none;
}

.menu-item-content.active {
	display: flex;
	flex-wrap: wrap;
}

